@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$button: #ddd;
$black: #000;

body, html, #root {
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid $button;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px $button;
}

.team-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.team-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.result {
    margin-left: 15px;
}

.btn {
    background-color: $button;
    border: none;
    color: $black;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    &:hover {
        filter: opacity(0.8);
    }
}

.base-timer {
    position: relative;
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
  }

  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  .base-timer__label {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
  }